body > header {
  height: 520px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #00A8CC;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
  padding-top: 120px;
  border-radius: 25px;
}

@media only screen and (min-width: 1024px) {
  body > header {
    margin: 210px 50px 50px;

    height: 300px;

    width: 55%;

  }
}
