#tweet-text {
  width: 100%;
  border: 0px;
  border-bottom: 5px solid orangered;
  background-color: transparent;
}

.new-tweet {
  margin-top: 30px;
  width: 100%;
}

.bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 2%;  
}

button {
  background-color: #4056A1;
  font-family: 'Bungee', cursive;
  color: white;
  border: none;
}

.counter {
  font-family: 'Bungee', cursive;
}

.counter-red {
  color: red;
}

article {
  display: block;
  border: 5px solid black;
  margin-top: 30px;
  margin-bottom: 20px;
}

article:hover {
  box-shadow: 5px 5px;
}

article footer {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: 0 auto;
  margin-bottom: 10px;
}

.tweet-footer-right > i {
  margin: 0 5px;
}

article header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 95%;
  margin-top: 15px;
}

article header > div{
  display: flex;
  align-items: center;
}

article > p {
  margin: 0 auto;
  width: 95%;
  border-bottom: 5px solid rgb(43, 43, 43);
  padding: 1.75em 0.5em;
  margin-bottom: 15px;
  overflow: hidden;
}

.fa-flag:hover {
  color: rgb(5, 103, 231);
}

.fa-retweet:hover {
  color: rgb(5, 103, 231);
}

.fa-heart:hover {
  color: rgb(5, 103, 231);
}

.person-name {
  margin-left: 15px;
}

.new-tweet > div {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  color: red;
  border: 5px solid red;
  margin: 0 auto;
  margin-bottom: 25px;
  align-items: center;
  height: 60px;
  
}

/* @media only screen and (min-width: 1024px) {

  .new-tweet {
    margin-top: 100px;
    width: 100%;
  }

} */