textarea {
  width: 100%;
  border: 0px;
  border-bottom: 5px solid #00A8CC;
  background-color: transparent;
  color: white;
  font-size: 115%;
}

textarea::placeholder {
  color: white;
  font-size: 115%;
}

.new-tweet {
  margin-top: 30px;
  width: 100%;
}

.bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 2%;
}

button {
  background-color: #0C7B93;
  font-family: 'Bungee', cursive;
  color: white;
  border: black 2pm solid;
  padding: 8px;
  margin-left: 3px;
  border-radius: 6px;
}

button:hover {
  transform: scale(1.1);
}

.counter {
  font-family: 'Bungee', cursive;
}

.counter-red {
  color: red;
}

article {
  display: block;
  border: 5px solid black;
  margin-top: 30px;
  margin-bottom: 20px;
  border-radius: 15px;
}

article:hover {
  box-shadow: 5px 5px #00A8CC;
}

article footer {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: 0 auto;
  margin-bottom: 10px;
}

.tweet-footer-right > i {
  margin: 0 5px;
}

article header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 95%;
  margin-top: 15px;
}

article header > div{
  display: flex;
  align-items: center;
}

article > p {
  margin: 0 auto;
  width: 95%;
  border-bottom: 5px solid rgb(43, 43, 43);
  padding: 1.75em 0.5em;
  margin-bottom: 15px;
  word-break: break-all;
}

.fa-flag:hover {
  color: #00A8CC;
}

.fa-retweet:hover {
  color: #00A8CC;
}

.fa-heart:hover {
  color: #00A8CC;
}

.new-tweet > div {
  display: flex;
  justify-content: space-evenly;
  color: #E43F5A;
  border: 10px solid #E43F5A;
  margin-bottom: 25px;
  align-items: center;
  font-weight: 900;
  font-size: 150%;
  text-align: center;
  border-radius: 50px;
  
}

.person-name {
  margin-left: 15px;
  font-weight: 500;
}

.tweeter-handle {
  color: lightgrey;
  font-weight: 600;
  font-size: 115%;
}

footer {
  font-size: 18px;
}

article header img {
  filter: saturate(500%) contrast(800%) brightness(500%) 
      invert(80%) sepia(50%) hue-rotate(120deg); 
}

/* @media only screen and (min-width: 1024px) {

  .new-tweet {
    margin-top: 100px;
    width: 100%;
  }

} */